@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    font-family: 'Acme', sans-serif;
}

body {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 180px 1500px 100px;
    grid-template-areas: "header"
        "section"
        "footer";

}

header {
    grid-area: header;
    background-color: black;
}

.title {
    color: white;
    text-align: center;
}

.title p {
    font-size: 20px;
}

section {
    grid-area: section;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine";
}

.one {
    grid-area: one;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.two {
    grid-area: two;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.three {
    grid-area: three;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.four {
    grid-area: four;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.five {
    grid-area: five;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.six {
    grid-area: six;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.seven {
    grid-area: seven;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.eight {
    grid-area: eight;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.nine {
    grid-area: nine;
    background-color: black;
    border-radius: 12px;
    color: white;
}

.section p {
    margin: 1rem 1rem;
}

.section h2 {
    text-align: center;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 12px;
}

@media screen and (min-width: 600px) {
    body {
        grid-template-rows: 180px 1100px 100px;
    }

    section {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "one two"
            "three four"
            "five six"
            "seven eight"
            "nine nine";
    }
}

@media screen and (min-width: 800px) {
    .section {
        font-size: 110%;
    }
}