@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    font-family: 'Acme', sans-serif;
}
body {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 100px 180px 1745px 100px;
    grid-template-areas: "navbar" "header"
        "section"
        "footer";
    background-color: linen;
}

.navbar {
    grid-area: navbar;
    display: flex;    
}

.nav-item {
    text-decoration: none;
    font-size: 140%;
    margin: 20px 10px;
    background-color: white;
    color: #1D3461;
    height: 30%;
}

a {
    text-decoration: none;
    padding: 10px;
    transition: all 200ms;
    border-radius: 5px;
}

a:hover,
a:focus {
    background-color: #1D3461;
    color: white;
    font-size: 20px;
}

header {
    grid-area: header;
    background-color: #1D3461;
    border-radius: 12px;
}

.title {
    color: white;
    text-align: center;
}

.title p {
    font-size: 20px;
}

section {
    grid-area: section;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
}

.one {
    grid-area: one;
    background: linear-gradient(to top, #1F487E,  #1D3461);
    border-radius: 12px;
    color: white;
}

.two {
    grid-area: two;
    background-color: #1F487E;
    border-radius: 12px;
    color: white;
}

.three {
    grid-area: three;
    background: linear-gradient(to top, #376996,#1F487E);
    border-radius: 12px;
    color: white;
}

.four {
    grid-area: four;
    background-color: #376996;
    border-radius: 12px;
    color: white;
}

.five {
    grid-area: five;
    background: linear-gradient(to top, #3F79AB,#376996);
    border-radius: 12px;
    color: white;
}

.six {
    grid-area: six;
    background-color:#3F79AB;
    border-radius: 12px;
    color: white;
}

.seven {
    grid-area: seven;
    background: linear-gradient(to top,rgb(190, 209, 209),#3F79AB);
    border-radius: 12px;
    color: black;
}

.section h2 {
    text-align: center;
}

.section p {
    margin: 1rem 1rem;
}

.section p a {
    text-decoration: underline;
}
a{
    color:aliceblue;
    text-decoration: none;
}


footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,white,rgb(190, 209, 209));
    color: black;
}


form {
    border-radius: 8px;
}

p{
    margin-left:5%;
}

fieldset {
    border-style: hidden;
}

label {
    display: block;
    margin-top: 2%;
    margin-left: 7%;
}

input[type="text"],
input[type="email"] {
    width: 81%;
    border: 2px solid transparent;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 15px;
    background-color: #f5f5f5;
    color: #1D3461;
    box-shadow: 0 1px 0 rgba(88, 80, 80, 0.03) inset;
    margin-bottom: 30px;
    margin-left: 7%;
    transition: all 350ms;
}

input::placeholder {
    color: #CEE0DC;
}

input:hover,
input:focus {
    border: 2px solid #1D3461;
}

button {
    width: 75%;
    padding: 19px 39px 18px 39px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    display: block;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 12%;
    transition: background 1s;
    background: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0%;
    color: black;
}

.btn:hover,
.btn:focus {
    background-size: 500%;
    background-position: right;
    background-image: linear-gradient(to right, white,rgb(190, 209, 209));
    color: black;
    cursor: pointer;
}


@media screen and (min-width: 600px) {
    body {
        grid-template-rows: 100px 180px 1600px 100px;
    }

    section {
        grid-template-rows: 1fr 1fr 1fr 2fr;
        grid-template-areas: "one two"
            "three four"
            "five six"
            "seven seven"
        ;
    }
}

@media screen and (min-width: 800px) {
    .section {
        font-size: 120%;
    }
}
