body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.grid-column-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8vh,15vh,15vh,15vh,15vh,15vh,15vh,15vh,15vh,10vh;
    row-gap: 2%;
}

.navbar {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;
}

.nav-item {
    text-decoration: none;
    margin: 20px 20px;
    background-color: white;
    color: #1D3461;
}

a {
    text-decoration: none;
    padding: 10px;
    transition: all 200ms;
    border-radius: 5px;
}
  
a:hover {
    background-color: #1D3461;
    color: white;
    font-size: 20px;
}

h1{
    margin-left:3%;
}

h3{
    margin-left:3%;
}

.title {
    margin-top: -4%;
    grid-row: 2/4;
    grid-column:1/4;
    background-color: #1F487E;
    color:white;
}

.html {
    grid-column: 1/4;
    grid-row: 4/6;
}

.css {
    grid-column: 1/4;
    grid-row: 6/8;
}

.tips {
    margin-top:5%;
    grid-column: 1/4;
    grid-row: 8/10;
}

.footer {
    grid-column: 1/4;
    grid-row: 10;
    text-align: center;
    background-color: #1F487E;
    color:white;
}

img {
    float: left;
    width: 40%;
    margin-right: 5%;
    border-radius: 10px;
}

h2 {
    color:#376996;
    margin-top: 0;
}


@media screen and (min-width: 600px) {

    img {
        float: left;
        width: 20%;
        margin-right: 5%;
        border-radius: 10px;
    }
}
