body{
    margin-left:5%;
    margin-right:5%;
    margin-top:0;
}

.grid-column-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8vh, repeat(8, 15vh), 10vh;
    row-gap: 4%; 
}
  
.navbar{
    display:flex;
    grid-column: 2/4;
    grid-row: 1;
    margin-top: 25px;
    column-gap: 15%;
    
}

.nav-item{
    text-decoration: none;    
}

a:hover{
    color:black;
}

.title {
    margin-top:-4%;
    grid-column:1/4;
    grid-row:2;
}

.intro{
    margin-top:-10%;
    grid-column: 1/4;
    grid-row: 3;
}

.html{
    grid-column: 1/4;
    grid-row:4/6;
}

.css{
    grid-column: 1/4;
    grid-row:6/8;
}

.tips{
    grid-column: 1/4;
    grid-row:8/10;
}

.footer{
    grid-column: 1/4;
    grid-row:10;
    text-align: center;
}
img{
    float:left;
    width:40%;
    margin-right:5%;
    border-radius: 10px;
}
h2{
    margin-top: 0;
}


@media screen and (min-width: 600px) {
    .navbar {
        grid-column: 3;
        grid-row: 1;
        margin-top: 25px;
        column-gap: 15%;
    }
    .intro{
        margin-top:-5%;
        grid-column: 1/4;
        grid-row: 3;
    }
    img{
        float:left;
        width:20%;
        margin-right:5%;
        border-radius: 10px;
    }
}