@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    font-family: 'Acme', sans-serif;

}

body {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 100px 180px 920px 100px;
    grid-template-areas: "navbar""header"
        "section"
        "footer";
    background-color: linen;
}

.navbar {
    grid-area: navbar;
    display: flex;
}

.nav-item {
    text-decoration: none;
    font-size: 140%;
    margin: 20px 10px;
    background-color: white;
    color: #1D3461;
    height: 30%;
}

a {
    text-decoration: none;
    padding: 10px;
    transition: all 200ms;
    border-radius: 5px;
}

a:hover,
a:focus {
    background-color: #1D3461;
    color: white;
    font-size: 20px;
}

header {
    grid-area: header;
    background-color: #1D3461;
    border-radius: 12px;
}

.title {
    color: white;
    text-align: center;
}

.title h2 {
    font-size: 20px;
}

section {
    grid-area: section;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "one"
        "two"
        "three"
        "four"
        "five"
        "six";
}

.one {
    grid-area: one;
    background: linear-gradient(to bottom, rgb(190, 209, 209), #3F79AB);
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.two {
    grid-area: two;
    background: linear-gradient(to bottom, rgb(190, 209, 209), #3F79AB);
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.three {
    grid-area: three;
    background-color: #376996;
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.four {
    grid-area: four;
    background: linear-gradient(to top, #3F79AB, #376996);
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.five {
    grid-area: five;
    background: linear-gradient(to top, #376996, #1F487E);
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.six {
    grid-area: six;
    background: linear-gradient(to top, #376996, #1F487E);
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.section h2 {
    margin: 1rem 1rem;
    font-size: 120%;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, white, rgb(190, 209, 209));
    color: black;
}

@media screen and (min-width: 600px) {
    body {
        grid-template-rows: 100px 180px 500px 100px;
    }

    section {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "one two"
            "three four"
            "five six";
    }
}